@import "gu-font.less";
@import "bower_components/bootstrap/less/bootstrap.less";
@import "custom-variables.less";
@import "gu-header.less";
@import "gu-footer.less";
@import "type.less";

@media print {
  a[href]:after {
    content: none !important;
  }
}

.selector-row {
  padding-top: 30px;
  padding-bottom: 30px;
  .faculty-selector {
    min-width: 100%;
    @media (min-width: @screen-sm-min) {
      width: 450px;
      .btn-lg()
    }
  }
}

.help-row {
  color: @gray-light;
  font-size: 0.8em;
  line-height: 1.4;
}

.chart-row {
  margin-bottom: 30px;
}
