<div class="gu-header-container">
  <div class="container">
    <div class="gu-header">
      <div class="col-xs-12">
        <div>
          <div class="logo">
          </div>
          <div class="headers">
            <div class="level1">
              <a href="#">{{t "header.level1"}}</a>
            </div>
          </div>
          <div class="gu-header-links pull-right">
            <ul>
              <li><a {{action 'toggleLang'}} title="To the English version of this page" href="#" >{{t "header.lang_link"}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
